:host {
    display: inline-block;
  }
  
  .mat-form-field {
    width: calc(50% - 24px);
  }
  
  .inset {
    position: relative;
    background-color: white;
    padding: 4px 4px 4px 4px;
    // box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .25);
  }
  
  ::ng-deep .inset .mat-input-wrapper {
    padding-bottom: 0;
  }
  
  ::ng-deep  .inset .mat-input-underline {
    // display: none;
    visibility: hidden;
  }
  
  ::ng-deep  .inset .mat-input-subscript-wrapper {
    display: none;
  }
  
  .inset .mat-icon-button.search {
    position: absolute;
    right: 0;
  }