<div fxLayout="row" >

  <div class="action"
       *ngIf="action"
       fxFlex="0 0 40px">
    <button mat-icon-button
            [title]="action"
            (click)="onaction.emit()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="header">
    <div class="title">
      <div fxLayout = "row" fxLayoutAlign = "space-between">
        <div>
          <div class="maintitle">{{title}}</div>
          <div class="subtitle">{{subtitle}}</div>
        </div>
        <div (mouseover)= "show()">
          <br>
          You can have more features on <a href="https://www.fraudmarc.com/" target="_blank">our product</a>!
          <br>   
        </div>
      </div>
      
      
    </div>
    <div class="home"
         (click)="homeAction()"
         style="cursor:pointer">
      <img src="assets/img/fraudmarc-icon-300.png"
           alt="Fraudmarc Logo"
           height="40px" />
    </div>
  </div>

  
</div>
<mat-card *ngIf="showFeature">
    <button mat-icon-button (click)="hide()" style = "float: right">
    <mat-icon>cancel</mat-icon>
  </button>
  <br>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile *ngFor="let element of featureList">
      {{element}}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>