<div fxLayout="row" >

  <div class="action"
       *ngIf="action"
       fxFlex="0 0 40px">
    <button mat-icon-button
            [title]="action"
            (click)="onaction.emit()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="header">
    <div class="title">
      <div class="maintitle">{{title}}</div>
      <div class="subtitle">{{subtitle}}</div>
    </div>
    <div class="home"
         (click)="homeAction()"
         style="cursor:pointer">
      <img src="assets/img/fraudmarc-icon-300.png"
           alt="Fraudmarc Logo"
           height="40px" />
    </div>
  </div>
</div>
