// http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5&mcgpalette1=%234caf50&fmblue=%233b8386
$fm-green: (
  50 : #eaf5ea,
  100 : #c9e7cb,
  200 : #a6d7a8,
  300 : #82c785,
  400 : #67bb6a,
  500 : #4caf50,
  600 : #45a849,
  700 : #3c9f40,
  800 : #339637,
  900 : #248627,
  A100 : #c5ffc7,
  A200 : #92ff95,
  A400 : #5fff64,
  A700 : #46ff4b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$fm-blue: (
  50 : #e7f0f0,
  100 : #c4dadb,
  200 : #9dc1c3,
  300 : #76a8aa,
  400 : #589698,
  500 : #3b8386,
  600 : #357b7e,
  700 : #2d7073,
  800 : #266669,
  900 : #195356,
  A100 : #93f9ff,
  A200 : #60f7ff,
  A400 : #2df4ff,
  A700 : #14f3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
