<div class="fm-footer-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
        <button mat-button onclick="window.location.href='https://community.fraudmarc.com/'">
                Community
        </button>
        <button mat-button onclick="window.location.href='https://www.fraudmarc.com/'">
                Product
        </button>
        <button mat-button onclick="window.location.href='https://secure.fraudmarc.com/tool/spf'">
                Policy Checker
        </button>
        <button mat-button onclick="window.location.href='https://www.fraudmarc.com/privacy-policy/'">
                Privacy
        </button>
        <button mat-button onclick="window.location.href='https://www.fraudmarc.com/terms-of-service/'">
                Terms of Service
        </button>
        <!-- <button mat-button (click)="testBackendCall()">
        Test
        </button>

        <button mat-button (click)="testDomainList()">
                TestDomainList
                </button>

        <div fxLayout="row" *ngFor="let domain of domainList">
                <div>{{domain}}</div>
        </div>
        <pre>{{domainList | json}}</pre> -->
</div>